<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">
          Account Settings
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="row g-0">
        <div class="col-3 d-none d-md-block border-end">
          <div class="card-body">
            <div class="list-group list-group-transparent">
              <%= link_to 'My Profile', admin_profile_index_path, class: 'list-group-item list-group-item-action d-flex align-items-center' %>
              <%= link_to 'Update Password', password_admin_profile_index_path, class: 'list-group-item list-group-item-action d-flex align-items-center active' %>
            </div>
          </div>
        </div>
        <div class="col d-flex flex-column">
          <%= form_with(model: @admin, url: update_password_admin_profile_index_path, method: :put) do |f| %>
            <div class="card-body">
              <div class="row g-3">
                <div class="col-md">
                  <%= f.label :old_password, class: 'form-label' %>
                  <%= f.password_field :old_password, required: true, autocomplete: 'password', class: 'form-control' %>
                  <%= tag.div @admin.errors[:old_password].first, class: "invalid-feedback" %>
                </div>
                <div class="col-md">
                </div>
              </div>
              <div class="row g-3">
                <div class="col-md">
                  <%= f.label :new_password, class: 'form-label' %>
                  <%= f.password_field :password, required: true, autocomplete: 'password', class: 'form-control' %>
                </div>
                <div class="col-md">
                </div>
              </div>
              <div class="row g-3">
                <div class="col-md">
                  <%= f.label :password_confirmation, class: 'form-label' %>
                  <%= f.password_field :password_confirmation, required: true, autocomplete: 'password_confirmation', class: 'form-control' %>
                  <%= tag.div @admin.errors[:password_confirmation].first, class: "invalid-feedback" %>
                </div>
                <div class="col-md">
                </div>
              </div>
            </div>
            <div class="card-footer bg-transparent mt-auto">
              <div class="btn-list justify-content-start">
                <%= f.submit 'Update', class: "btn btn-primary" %>
              </div>
            </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
